.navbar{
  background: #333;
  color: #fff;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
}

.navbar ul{
  display: flex;
  list-style-type: none;
  margin: 5px 0 0 0;
}

.navbar li {
  padding: 0 15px;
  
}

.navbar a:hover,
.navbar a:visited,
.navbar a:link{
  text-decoration: none;
  color: #75e77b;
}

.blog-title{
  color: #65b9e0;
}

