.navbar {
  background: #333;
  color: #fff;
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 10px 45px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  margin: 5px 0 0 0;
}

.navbar li {
  padding: 0 15px;

}

.navbar a:hover,
.navbar a:visited,
.navbar a:link {
  text-decoration: none;
  color: #75e77b;
}

.title {
  color: #65b9e0;
}

@media(max-width:768px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    justify-content: center;
    margin: 25px 0 0 0;
  }
}